<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../config.rnc" type="application/relax-ng-compact-syntax"?>
<view_package xmlns="http://www.wheatoncollege.edu/TAPAS/1.0" 
  version="0.5.3" xml:id="hieractivity" dynamic="false" scope="file">
  
  <human_name>Hieractivity</human_name>
  <description>This view package draws attention to the hierarchical structures of a TEI 
    document by rendering its elements as nested boxes. Readers can explore the TEI 
    representation through a number of control widgets, including zooming and selecting 
    TEI elements for examination.</description>
  
  <file_types>
    <file_type>tei</file_type>
    <file_type>odd</file_type>
    <file_type>ography</file_type>
  </file_types>
  <git_branch/>
  <css_files>
    <css_file>../common/jquery-ui-1.12.1/jquery-ui.min.css</css_file>
    <css_file>css/hieractivity.css</css_file>
  </css_files>
  <js_files>
    <js_file>../common/jquery/jquery-3.2.1.min.js</js_file>
    <js_file>../common/jquery-ui-1.12.1/jquery-ui.min.js</js_file>
    <js_file>../common/jquery.scrollTo/jquery.scrollTo.min.js</js_file>
    <js_file>../common/d3/d3.v4.min.js</js_file>
    <js_file>js/hieractivity.js</js_file>
  </js_files>
  <parameters>
    <parameter name="assets-base" as="xs:string">A file path representing the path to the parent 
      directory of the CSS/JS/image assets associated with the requested Reader type.</parameter>
    <parameter name="file" as="node(tei:TEI)">A TEI-encoded XML document.</parameter>
  </parameters>
  <run type="xslt" pgm="hieractivity.xsl"/>
</view_package>
