// validation.less

/* VARIABLES */

/* Colors */
@tapas-blue-dark:   #2B3E50;
@tapas-blue-light:  #5BC0DE;
@tapas-bluegray:    #4E5D6C;
@tapas-orange:      #DF691A;


/* Fonts */
@code: 'Courier', 'Courier New', monospace;
@tapas-font: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; // the font used in the main TAPAS site

/* MIXINS */
/* RULES */

.validation-tei_all-pkg {
  margin: 1em 2em;
  font-family: @tapas-font;
  
  .blocked {
    display: block;
  }
  
  .cnt {
    border-radius: 0.5em;
    padding: 0 0.35em;
    background-color: @tapas-blue-light;
  }
  
  .label {
    //margin-right: 0.4em;
    color: @tapas-blue-dark;//#676767;
  }
  
  tt, code,
  .att, .gi, .val {
    font-family: @code;
  }
  
  .att:before {
    content: '@';
  }
  
  .gi {
    
    &:before {
      padding-right: 1px;
      content: '<';
      font-size: 0.9em;
    }
    
    &:after {
      padding-left: 1px;
      content: '>';
      font-size: 0.9em;
    }
  } // .gi
  
  ul {
    margin: 0.5em 0;
    padding-left: 1.5em;
    list-style: none;
    
    li {
      border: 2px #E1DFDF;
      border-style: none solid solid;
      padding: 0.5em;
      background-color: inherit;
      
      &:first-child {
        border-style: solid;
      }
      
      &:nth-of-type(2n+1) {
        background-color: #F5F8FF;
      }
    } // ul li
    
    ul {
      margin-left: 0.7em;
      border-left: thin solid gray;
      padding-left: 0;
      
      li {
        border-style: none;
        border-bottom: thin solid gray;
        background-color: inherit;
        
        &:first-child {
          border-style: none none solid none
        }
        
        &:nth-of-type(2n+1) {
          background-color: inherit;
        }
      } // ul ul li
    } // ul ul
  } // ul
  
  /* Collapsables */
  
  .collapsableHeading {
    font-size: 1.1em;
    
    > button {
      all: inherit;
      width: 100%;
      
      &:before {
        padding: 0 0.2em;
        margin-right: 0.5em;
        display: inline-block;
        width: 0.75em;
        text-align: center;
        font-weight: bold;
      }
      
      &:focus {
        outline: 2px solid lightblue;
        outline-color: invert;
      } // button:focus
      
      &[aria-expanded=true] {
        
        &:before {
          content: '-';
        }
      } // button[aria-expanded=true]
      
      &[aria-expanded=false] {
        
        &:before {
          content: '+';
        }
      } // button[aria-expanded=false]
    } // .collapsableHeading > button
  } // .collapsableHeading
  
} // .validation-tei_all

