<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="file:/Users/ashleyclark/TAPAS/view-packages/config.rnc" type="application/relax-ng-compact-syntax"?>
<view_package xmlns="http://www.wheatoncollege.edu/TAPAS/1.0"
  xmlns:tapas="http://www.wheatoncollege.edu/TAPAS/1.0"
  version="0.0.1" xml:id="test-xproc" dynamic="false" scope="file">
  <human_name>XProc view package</human_name>
  <description>A test view package with an XProc program.</description>
  <file_types>
    <file_type>tei</file_type>
  </file_types>
  <git_branch/>
  <css_files/>
  <js_files/>
  
  <parameters>
    <parameter name="file" as="node(tei:TEI)">A TEI-encoded XML document.</parameter>
  </parameters>
  <run type="xproc" pgm="xproc_test_3.xpl">
    <step qname="tapas:relax-ng-report">
      <port put="in" primary="true">source</port>
      <port put="out" primary="true">result</port>
      <option name="assert-valid"/>
    </step>
  </run>
</view_package>