<?xml version="1.0" encoding="utf-8"?>
<view_package xmlns="http://www.wheatoncollege.edu/TAPAS/1.0"
	      xmlns:tapas="http://www.wheatoncollege.edu/TAPAS/1.0"
	      dynamic="0" scope="file" version="0.0.1" xml:id="validate_tei_all">
  <!-- Initially written 2017-11-02 by Syd -->
  <human_name>Valid TEI?</human_name>
  <description>Test the input TEI file against tei_all (both RELAX NG
  and Schematron)</description>
  <file_types>
    <file_type>tei</file_type>
  </file_types>
  <git_branch/>
  <css_files>
    <css_file>css/validation.css</css_file>
  </css_files>
  <js_files>
    <js_file>../common/jquery/jquery-3.2.1.min.js</js_file>
    <js_file>js/validation.js</js_file>
  </js_files>
  <parameters/>
  <run type="xproc" pgm="validate.xpl">
    <step qname="tapas:validity-report">
      <port primary="true" put="in">source</port>
      <port primary="false" put="in">grammar</port>
      <port primary="false" put="in">rules</port>
      <port primary="true" put="out">result</port>
    </step>
  </run>
</view_package>
