body { margin: 2em; }
span.context { font-weight: bold; }
span.context:after { content: " "; }
span.test { font-family: monospace; }
span.test:after { content: " "; }
a.loc { font-style: italic; }

/*  prhase-level */
span.gi, span.att, span.val { font-family: monospace; font-size: 80%; }