.hieractivity {
  color: gray;
  /* TEI-specific styles */
}
.hieractivity #tei-container {
  width: 90%;
  overflow: hidden;
}
.hieractivity #control-panel {
  border: medium solid #555555;
  border-radius: 0.4em;
  padding: 0.25em;
  width: 150px;
  position: fixed;
  z-index: 900;
  top: 10px;
  right: 10px;
  background-color: #E0FFFF;
  color: black;
  text-align: center;
}
.hieractivity #control-panel h2,
.hieractivity #control-panel h3,
.hieractivity #control-panel h4 {
  margin: 0.5em 0;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  font-weight: normal;
}
.hieractivity #control-panel #zoom-container {
  padding: 0.4em;
  display: flex;
}
.hieractivity #control-panel #zoom-container #zoom-slide {
  width: 110px;
}
.hieractivity #control-panel #gi-option-selector {
  border: thin solid black;
  padding: 0.25em;
  display: block;
  height: 130px;
  background-color: white;
  overflow: auto;
  text-align: left;
}
.hieractivity #control-panel #gi-option-selector label {
  display: block;
}
.hieractivity #control-panel #gi-option-selector label .gi-label {
  margin: 0 0.35em;
  font-size: 0.85em;
}
.hieractivity #control-panel #gi-option-selector label .gi-label .gi-name {
  font-family: 'Courier', 'Courier New', monospace;
}
.hieractivity #control-panel #gi-option-selector label .gi-label .gi-count {
  margin-top: 0.2em;
  float: right;
}
.hieractivity .selected-gi {
  border-left: 1em solid black;
}
.hieractivity .block {
  display: block;
}
.hieractivity .block[data-tapas-gi=pb],
.hieractivity .block[data-tapas-gi=cb] {
  margin: 0.4em 0;
}
.hieractivity .block-after::after {
  content: '';
  display: block;
}
.hieractivity .label-explanatory {
  opacity: 0.95;
  font-size: 0.8em;
}
.hieractivity .label-explanatory [data-tapas-gi] {
  opacity: unset;
  font-size: initial;
}
.hieractivity *[data-tapas-gi] {
  padding: 0 0.1em;
}
.hieractivity [data-tapas-gi=lb]::before {
  content: '↵';
  opacity: 0.6;
  font-size: 0.7em;
}
.hieractivity [data-tapas-gi].boxed {
  margin: 2em 1em;
  padding: 0.85em;
  display: block;
  /*&.selected-gi {
      border-left-width: thick;
    }*/
}
.hieractivity [data-tapas-gi].boxed[data-tapas-gi=text] {
  margin: 0;
}
.hieractivity [data-tapas-gi=p] {
  padding: 0.15em 0.5em;
  display: block;
  background-color: #DDD;
}
.hieractivity ul {
  padding-inline-start: 1em;
}
.hieractivity [data-tapas-gi=titlePage] {
  text-align: center;
}
.hieractivity [data-tapas-gi=head] {
  text-align: center;
}
