// hierarchy.less

/*  COLORS  */

@cream:         #FFE;
@gray-dark:     #555555;
@gray:          #808080;
@gray-light:    #DDDDDD;
@gray-lighter:  #F0F0F0;
@slate:         #9EAEC9;
// Color palette used for boxes at varying depths. This is a slightly modified 
  // version of 12-class Set3 from Cynthia Brewer's ColorBrewer 2.0:
  // http://colorbrewer2.org/?type=qualitative&scheme=Set3&n=12
@box01:         rgba(50,  116, 184, 0.8);
@box02:         rgba(124, 186, 176, 0.8);
@box03:         rgba(255, 255, 179, 0.8);
@box04:         rgba(190, 186, 218, 0.8);
@box05:         rgba(251, 128, 114, 0.8);
@box06:         rgba(253, 180, 98,  0.8);
@box07:         rgba(128, 177, 211, 0.8);
@box08:         rgba(179, 222, 105, 0.8);
@box09:         rgba(252, 205, 229, 0.8);
@box10:         rgba(188, 128, 189, 0.8);
@box11:         rgba(204, 235, 197, 0.8);
@box12:         rgba(255, 237, 111, 0.8);

/*  FONTS  */

@code: 'Courier', 'Courier New', monospace;
@heading: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;


/*  RULES  */

.hieractivity {
  color: @gray;
  
  .encoded {
    font-family: @code;
    
    &.encoded-att {
      font-size: 0.95em;
    }
  } // .encoded
  
  .html-heading() {
    font-family: @heading;
    font-weight: normal;
  }
  
  h1, h2, h3, h4, h5, h6 {
    .html-heading();
    color: black;
  }
  
  dl {
    
    dd {
      margin-left: 1.2em;
    }
    
    dd + dt {
      margin-top: 0.35em;
    }
  } // dl

  #control-panel {
    border: medium solid @gray-dark;
    border-radius: 0.4em;
    padding: 0.25em;
    //height: 150px;
    width: 180px;
    position: fixed;
    z-index: 900;
    top: 10px;
    right: 10px;
    background-color: @slate;
    color: black;
    text-align: center;
    
    h2, h3, h4 {
      margin: 0.5em 0;
    }
    
    .control-widget {
      margin: 0.2em 0;
      padding: 0.25em 0;
    }
    
    .component-inner() {
      border: thin solid @gray;
      height: 130px;
      background-color: white;
      overflow-y: auto;
    }
    
    #zoom-container {
      padding: 0.4em;
      display: flex;
      
      #zoom-slide {
        width: 140px;
      }
    } // #zoom-container
    
    #gi-option-selector {
      .component-inner();
      padding: 0.25em;
      display: block;
      text-align: left;
      
      label {
        display: block;
        
        .gi-label {
          margin: 0 0.35em;
          font-size: 0.85em;
          
          .gi-name {
          }
          
          .gi-count {
            margin-top: 0.2em;
            float: right;
          }
        } // .gi-label
      } // label
    } // #gi-option-selector
    
    #gi-properties {
      .component-inner();
      padding: 0 1em;
      text-align: left;
    }
  } // .control-panel
  
  #tei-header,
  #tei-container {
    width: 90%;
  }
  
  #tei-header {
    margin: 1em 0;
    color: black;
    
    .expandable-heading {
      margin: 0.5em 0 0;
      border: thin solid @gray;
      padding: 0.2em;
      
      > button {
        border: thin solid @gray-dark;
        border-radius: 0.4em;
        box-shadow: 0.1em 0.1em 0.2em @gray-dark;
        background-color: @gray-lighter;
        cursor: pointer;
        font-family: inherit;
        font-size: unset;
        
        &[aria-expanded=false]::before {
          content: '▸ ';
          width: 28px;
          display: inline-block;
        }
        
        &[aria-expanded=true]{
        box-shadow: unset;
        
          &::before {
            content: '▾ ';
            width: 28px;
            display: inline-block;
          }
        }
      } // .expandable-heading > button
    } // .expandable-heading
    
    .expandable {
      border: thin solid @gray;
      border-top: none;
      padding: 0.15em 0.75em 0.4em;
    } // .expandable
    
    .expandable-heading + .expandable[aria-hidden=true] {
      display: none;
    }
  } // #tei-header
  
  #tei-container {
    overflow: hidden;
  }


  /* TEI-specific styles */
  
  .centered() {
    text-align: center;
  }
  
  [data-tapas-gi].boxed {
    margin: 2em 1em;
    padding: 0.85em;
    display: block;
    
    &[data-tapas-gi=text] {
      margin: 0;
    }
    
    &.selected-gi {
      border-left: 1em solid black;
      background-color: unset;
      color: unset;
    }
    
    &.box-p {
      margin: 1em 0;
      padding: 0.15em 0.5em;
      display: block;
      background-color: @cream;
    
      &.selected-gi {
        border-left: 1em solid black;
        color: unset;
      }
    } // .box-p
  } // [data-tapas-gi].boxed
  
  .box-outermost {
    background-color: @box01;
  }
  
  .box-outer {
    background-color: @box02;
  }
  
  .box-gen1 {
    background-color: @box03;
  }
  
  .box-gen2 {
    background-color: @box04;
  }
  
  .box-gen3 {
    background-color: @box05;
  }
  
  .box-gen4 {
    background-color: @box06;
  }
  
  .box-gen5 {
    background-color: @box07;
  }
  
  .box-gen6 {
    background-color: @box08;
  }
  
  .box-gen7 {
    background-color: @box09;
  }
  
  .box-gen8 {
    background-color: @box10;
  }
  
  .box-gen9 {
    background-color: @box11;
  }
  
  .box-gen10 {
    background-color: @box12;
  }
  
  // This style is applied to any element that is selected by the user.
  .selected-gi {
    background-color: black;
    color: @gray-light;
  }
  
  .block {
    display: block;
    
    &[data-tapas-gi=pb],
    &[data-tapas-gi=cb] {
      margin: 0.4em 0;
    }
  }
  
  .block-after::after {
    content: '';
    display: block;
  }
  
  .label-explanatory {
    opacity: 0.95;
    font-size: 0.8em;
    
    [data-tapas-gi] {
      opacity: unset;
      font-size: initial;
    }
  }
  
  *[data-tapas-gi] {
    padding: 0 0.1em;
  }
  
  [data-tapas-gi=lb] {
    
    &::before {
      content: '↵';
      opacity: 0.6;
      font-size: 0.7em;
    }
  } // [data-tapas-gi=lb]
  
  .media-obj {
    display: inline-block;
    
    .thumbnail {
      max-height: 50px;
      // Use the .label-explanatory rules for text, because if the image doesn't 
        // show, the alt text will.
      .label-explanatory();
    }
  } // .media-obj
  
  [data-tapas-gi=figure] > .media-obj {
    margin: 0.2em;
    padding: 0.2em 0;
    display: block;
    text-align: center;
  }
  
  [data-tapas-gi=list] {
    padding-inline-start: 1em;
    display: block;
    
    span[data-tapas-gi=item] {
      display: list-item;
    }
  } // [data-tapas-gi=list]
  
  span[data-tapas-gi=table] {
    width: 100%;
    display: table;
    
    > span[data-tapas-gi=head] {
      display: table-caption;
    }
    
    span[data-tapas-gi=row] {
      display: table-row;
      
      span[data-tapas-gi=cell], .colspanned {
        border-top: thin solid @gray-dark;
        padding: 0.15em 0.2em;
        display: table-cell;
      }
      
      &:first-child {
        
        span[data-tapas-gi=cell], .colspanned {
          border-top: none;
          display: table-cell;
        }
      }
    }
  } // span[data-tapas-gi=table]
  
  [data-tapas-gi=titlePage] {
    .centered();
  }
  
  [data-tapas-gi=head],
  [data-tapas-gi=docTitle],
  [data-tapas-gi=titlePart] {
    .centered();
    .html-heading();
  }

} // .hieractivity
