// hierarchy.less

/*  COLORS  */

@cream:             #FFE;
@gray-dark:         #555555;
@gray:              #808080;
@gray-light:        #DDDDDD;
@gray-lighter:      #F0F0F0;
@raspberry-darker:  #8B1122;
@raspberry-dark:    #B02B3D;
@raspberry:         #CC4D5E;
@raspberry-light:   #EF7C8C;
@raspberry-lighter: #F7AAB5;
@slate:             #9EAEC9;
// Color palette used for boxes at varying depths. This is a slightly modified
  // version of 12-class Set3 from Cynthia Brewer's ColorBrewer 2.0:
  // http://colorbrewer2.org/?type=qualitative&scheme=Set3&n=12
@box01:         rgba(50,  116, 184, 0.8);
@box02:         rgba(124, 186, 176, 0.8);
@box03:         rgba(255, 255, 179, 0.8);
@box04:         rgba(190, 186, 218, 0.8);
@box05:         rgba(251, 128, 114, 0.8);
@box06:         rgba(253, 180, 98,  0.8);
@box07:         rgba(128, 177, 211, 0.8);
@box08:         rgba(179, 222, 105, 0.8);
@box09:         rgba(252, 205, 229, 0.8);
@box10:         rgba(188, 128, 189, 0.8);
@box11:         rgba(204, 235, 197, 0.8);
@box12:         rgba(255, 237, 111, 0.8);

/*  FONTS  */

@code: 'Courier', 'Courier New', monospace;
@heading: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;

/*  OTHER VARIABLES  */

@button-shadow: 0.1em 0.1em 0.2em;


/*  RULES  */

.hieractivity {
  
  .encoded {
    font-family: @code;
    
    &.encoded-att {
      font-size: 0.95em;
    }
  } // .encoded
  
  .html-heading() {
    font-family: @heading;
    font-weight: normal;
  }
  
  h1, h2, h3, h4, h5, h6 {
    .html-heading();
    color: black;
  }
  
  dl {
    
    dd {
      margin-left: 1.2em;
    }
    
    dd + dt {
      margin-top: 0.35em;
    }
  } // dl
  
  /* Expandable headings */
  
  .expandable-caret() {
    margin: 0 0.4em;
    display: inline-block;
    line-height: 1.2em;
    //font-size: 0.85em;
  }
  
  .expandable-caret-down() {
    content: '▾';
    .expandable-caret();
  }
  
  .expandable-caret-right() {
    content: '▸';
    .expandable-caret();
  }
  
  .expandable-heading {
    margin: 0.5em 0 0;
    padding: 0.2em;
    
    > button {
      border: thin solid @gray-dark;
      border-radius: 0.4em;
      box-shadow: @button-shadow @gray-dark;
      background-color: @gray-lighter;
      cursor: pointer;
      font-family: inherit;
      font-size: unset;
      text-align: left;
      
      &[aria-expanded=true] {
        box-shadow: unset;
        
        &::before {
          .expandable-caret-down();
          margin-left: 0.2em;
          float: left;
        }
      }
      
      &[aria-expanded=false]::before {
        .expandable-caret-right();
        margin-left: 0.2em;
        float: left;
      }
    } // .expandable-heading > button
  } // .expandable-heading
  
  .expandable {
    border: thin solid @gray;
    border-top: none;
    padding: 0.15em 0.75em 0.4em;
  } // .expandable
  
  .expandable-heading + .expandable[aria-hidden=true] {
    display: none;
  }
  
  
  /* Control panel */

  #control-panel {
    //border: medium solid @gray-dark;
    border-radius: 0.4em;
    padding: 0.5em;
    width: 185px;
    position: fixed;
    z-index: 900;
    top: 10px;
    right: 10px;
    background-color: @gray-dark;
    color: black;
    
    &.ui-draggable:hover {
      cursor: move;
      cursor: grab;
    }
    
    &.ui-draggable-dragging {
      cursor: move !important;
      cursor: grabbing !important;
    }
    
    h2, h3, h4 {
      margin: 0 0 0.25em;
      padding: 0;
      display: block;
      color: white;
    }
    
    .expandable-heading {
      
      > button {
        border-color: @raspberry-darker;
        padding: 0.25em;
        width: 100%;
        background-color: #F8E6DB;
        box-shadow: @button-shadow @raspberry-darker;
        color: black;
        
        &[aria-expanded=true] {
          box-shadow: unset;
        }
      } // .expandable-heading > button
    } // .expandable-heading
    
    h2.expandable-heading {
      margin-left: 0;
      margin-right: 0;
      font-variant: small-caps;
      text-align: center;
      
      > button {
        border: medium solid @raspberry-dark;
        padding: 0.25em 0.5em;
        box-shadow: @button-shadow black;
        //text-transform: lowercase;
        font-variant: inherit;
      } // h2 > button
    } // h2
    
    #controls-container {
      border: none;
      border-radius: 0.4em;
      padding: 0;
      background-color: @raspberry-dark;
      cursor: default;
      
      .component-inner() {
        margin: 0;
        border: thin solid @gray-light;
        height: 120px;
        background-color: white;
        overflow-y: auto;
      }
      
      .control-widget {
        border-top: medium solid @raspberry-darker;
        padding: 0.4em;
      
        &:first-child {
          border-top: none;
        }
      
        .control-widget-component {
          .component-inner();
          padding: 0.25em;
          display: block;
        }
      } // .control-widget
      
      fieldset {
        border: thin solid @gray-light;
        padding: 0.15em 0;
        text-align: left;
      
        label {
          display: table-row;
        
          .label-desc {
            margin: 0 0.35em;
            font-size: 0.85em;
          }
        } // label
      } // fieldset
      
      /* Widget customizations */
      
      #zoom-container {
        padding: 0.4em;
        display: flex;
        height: initial;
      
        #zoom-slide {
          width: 140px;
        }
      } // #zoom-container
      
      #text-contrasts {
        height: unset;
      }
      
      #gi-option-selector {
        
        .gi-count {
          margin-top: 0.2em;
          float: right;
        }
      } // #gi-option-selector
      
      #gi-properties {
        .component-inner();
        padding: 0 1em;
        text-align: left;
      } // #gi-properties
    } // #controls-container
  } // .control-panel
  
  
  /* Containers for the <teiHeader> and <text> */
  
  #tei-header,
  #tei-container {
    width: 90%;
  }
  
  /* TEI header */
  
  #tei-header {
    margin: 1em 0;
    color: black;
    
    .expandable-heading {
      border: thin solid @gray;
      
      > button {
        
        &[aria-expanded=false]::before {
          .expandable-caret-right();
          margin-left: 0;
        }
      
        &[aria-expanded=true] {
        
          &::before {
            .expandable-caret-down();
            margin-left: 0;
          }
        }
      } // .expandable-heading > button
    } // .expandable-heading
  } // #tei-header
  
  
  /* <text>-specific styles */
  
  #tei-container {
    overflow: hidden;
    color: black; // This would be '.text-contrast-high'.
    
    &.text-contrast-none {
      color: rgba(255, 255, 255, 0);
    }
    
    &.text-contrast-low {
      color: @gray;
    }
    
    &.text-contrast-mid {
      color: @gray-dark;
    }
    
    /*&.text-contrast-high {
    }*/
  } // #tei-container
  
  .centered() {
    text-align: center;
  }
  
  // This style is applied to any element that is selected by the user.
  .selected-gi {
    background-color: black;
    color: @gray-light;
  }
  
  [data-tapas-gi].boxed {
    margin: 2em 1em;
    padding: 0.85em;
    display: block;
    
    &[data-tapas-gi=text] {
      margin: 0;
    }
    
    &.selected-gi {
      border-left: 1em solid black;
      color: black;
    }
    
    &.box-p {
      margin: 1em 0;
      padding: 0.5em;
      display: block;
      background-color: @cream;
    
      &.selected-gi {
        border-left: 1em solid black;
        color: @gray;
      }
    } // .box-p
  } // [data-tapas-gi].boxed
  
  .box-outermost {
    background-color: @box01;
  }
  
  .box-outer {
    background-color: @box02;
  }
  
  .box-gen1 {
    background-color: @box03;
  }
  
  .box-gen2 {
    background-color: @box04;
  }
  
  .box-gen3 {
    background-color: @box05;
  }
  
  .box-gen4 {
    background-color: @box06;
  }
  
  .box-gen5 {
    background-color: @box07;
  }
  
  .box-gen6 {
    background-color: @box08;
  }
  
  .box-gen7 {
    background-color: @box09;
  }
  
  .box-gen8 {
    background-color: @box10;
  }
  
  .box-gen9 {
    background-color: @box11;
  }
  
  .box-gen10 {
    background-color: @box12;
  }
  
  .block {
    display: block;
    
    &[data-tapas-gi=pb],
    &[data-tapas-gi=cb] {
      margin: 0.4em 0;
    }
  }
  
  .block-after::after {
    content: '';
    display: block;
  }
  
  .label-explanatory {
    opacity: 0.95;
    font-size: 0.85em;
    
    code {
      font-size: 1em;
    }
    
    [data-tapas-gi] {
      opacity: unset;
      font-size: initial;
    }
  }
  
  *[data-tapas-gi] {
    padding: 0 0.1em;
  }
  
  [data-tapas-gi=lb] {
    
    &::before {
      content: '↵';
      opacity: 0.6;
      font-size: 0.7em;
    }
  } // [data-tapas-gi=lb]
  
  .media-obj {
    display: inline-block;
    
    .thumbnail {
      max-height: 50px;
      // Use the .label-explanatory rules for text, because if the image doesn't
        // show, the alt text will.
      .label-explanatory();
    }
  } // .media-obj
  
  [data-tapas-gi=figure] > .media-obj {
    margin: 0.2em;
    padding: 0.2em 0;
    display: block;
    text-align: center;
  }
  
  [data-tapas-gi=list] {
    padding-left: 1em;
    display: block;
    
    span[data-tapas-gi=item] {
      display: list-item;
    }
  } // [data-tapas-gi=list]
  
  span[data-tapas-gi=table] {
    width: 100%;
    display: table;
    
    > span[data-tapas-gi=head] {
      display: table-caption;
    }
    
    span[data-tapas-gi=row] {
      display: table-row;
      
      span[data-tapas-gi=cell], .colspanned {
        border-top: thin solid @gray-dark;
        padding: 0.15em 0.2em;
        display: table-cell;
      }
      
      &:first-child {
        
        span[data-tapas-gi=cell], .colspanned {
          border-top: none;
          display: table-cell;
        }
      }
    }
  } // span[data-tapas-gi=table]
  
  [data-tapas-gi=titlePage] {
    .centered();
  }
  
  [data-tapas-gi=head],
  [data-tapas-gi=docTitle],
  [data-tapas-gi=titlePart] {
    .centered();
    .html-heading();
  }

} // .hieractivity
